@import url(/POMODO/styles/varaibles.css);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper{
    background-color: var(--bg-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pomodo{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,100px);

}

p{
    font-family: "Rubik", sans-serif;
    color: whitesmoke;
    font-weight: 600;
    font-size: 100px;
}

.btn{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: whitesmoke;
    background-color:var(--btn-color);
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 150px;
}
.pomodo__pomodoro-btn{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.pomodo__short-btn{
   grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
}
.pomodo__long-btn{
   grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1; 
}
.pomodo__start-btn{
   grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3; 
}
.pomodo__pause-btn{
   grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3; 
}
.pomodo__reset-btn{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3; 
}
.pomodo__time-txt{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}